<div class="wrap fade-in">
    <div class="divider">
        <div class="header">
            <div class="center">
                <app-user-btn class="user-btn" [flip]="true"></app-user-btn>
                <div><a routerLink="/personal">{{currentUser.email}}</a></div>
            </div>
        </div>
        <!-- <div class="tiny-wrap"> -->
        <div class="body">
            <div type="button" class="pop-btn">Messegaes</div>
            <div type="button" class="pop-btn">Notifications</div>
            <div type="button" class="pop-btn">Payment methods</div>
        </div>
        <div class="footer">
            <div type="button" class="pop-btn">help</div>
            <div type="button" class="pop-btn"><a routerLink="/personal">Edit user</a></div>
        </div>
        <!-- </div> -->


    </div>
</div>



<!-- 
<div class="modal-content">
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">email@gmail.com</button> -->

<!-- </div>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
            Cras justo odio
        </button>
        <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
        <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
        <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at
            eros</button>
    </div>
</div> -->