@media only screen and (min-width: 768px) {
  .my-style {
    display: flex;
    justify-items: stretch !important;
    justify-content: space-between;
    input,
    label {
      min-width: 500px;
    }
  }
}

label {
  font-size: 16px;
  transform: translateY(-24px);
  display: inline-block;
}
.star {
  font-size: 1.1rem;
  color: red;
}

.my-err-field {
  margin-bottom: 6px;
  padding-bottom: 4px;
  height: 20px;
  // border: solid black 1px;
  text-align: center;
}
