<section class="intro">
    <div class="bg-image h-100">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <app-tiny-nav [title]="title" [icon]="icon">
                        </app-tiny-nav>
                        <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <form [formGroup]="editCustomerForm" (ngSubmit)="onSubmit()" action="">
                                        <div class="my-style">
                                            <div class="form-floating mb-2">
                                                <div class="my-err-field">
                                                    <app-err-field
                                                        [formField]="getFieldControl('firstName')"></app-err-field>
                                                </div>
                                                <input type="text" formControlName="firstName"
                                                    class="form-control rounded-1" id="floatingInput"
                                                    placeholder="Your Name">
                                                <label for="floatingInput"><span class="star">*</span> First
                                                    name:</label>

                                            </div>
                                            <div class="form-floating mb-2">
                                                <div class="my-err-field">
                                                    <app-err-field
                                                        [formField]="getFieldControl('lastName')"></app-err-field>
                                                </div>
                                                <input type="text" formControlName="lastName"
                                                    class="form-control rounded-1" id="floatingInput"
                                                    placeholder="Your Name">
                                                <label for="floatingInput"><span class="star">*</span> Last name:
                                                </label>

                                            </div>

                                        </div>
                                        <div class="my-style">
                                            <div class="form-floating mb-2">
                                                <div class="my-err-field">
                                                    <app-err-field
                                                        [formField]="getFieldControl('phone')"></app-err-field>
                                                </div>
                                                <input type="text" formControlName="phone"
                                                    class="form-control rounded-1" id="floatingInput "
                                                    placeholder="Your Name">
                                                <label for="floatingInput"><span class="star">*</span> Phone:</label>

                                            </div>

                                            <div class="form-floating mb-2">
                                                <div class="my-err-field">
                                                    <app-err-field
                                                        [formField]="getFieldControl('email')"></app-err-field>
                                                </div>
                                                <input type="text" formControlName="email"
                                                    class="form-control rounded-1" id="floatingInput"
                                                    placeholder="Your Name">
                                                <label for="floatingInput"><span class="star">*</span> Email:
                                                </label>

                                            </div>

                                        </div>
                                        <div class="form-floating mb-2">
                                            <div class="my-err-field">
                                                <app-err-field [formField]="getFieldControl('address')"></app-err-field>
                                            </div>
                                            <input type="text" formControlName="address" class="form-control rounded-1"
                                                id="floatingInput" placeholder="Your Name">
                                            <label for="floatingInput"><span class="star">*</span> Adress:
                                            </label>

                                        </div>


                                        <div class="d-flex justify-content-between">
                                            <button type="submit" class="btn btn-success p-2 ps-3 pe-3">
                                                <i class="fa-solid fa-user-pen"></i>
                                                Edit Customer <span *ngIf="loading == true"
                                                    class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                            </button>
                                            <app-back-btn style="padding-right: 10px;"></app-back-btn>
                                        </div>




                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>