<ul class="dropdown-menu d-block position-static mx-0 border-0 shadow w-220px" data-bs-theme="dark">
    <li>
        <button class="dropdown-item d-flex gap-2 align-items-center" href="#">
            <i class="fa-solid fa-eye"></i>
        </button>
    </li>
    <li>
        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
            <svg class="bi" width="16" height="16">
                <use xlink:href="#music-note-beamed" />
            </svg>
            Music
        </a>
    </li>
    <li>
        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
            <svg class="bi" width="16" height="16">
                <use xlink:href="#joystick" />
            </svg>
            Games
        </a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
            <svg class="bi" width="16" height="16">
                <use xlink:href="#trash" />
            </svg>
            Trash
        </a>
    </li>
</ul>