@import "./../../../styles.scss";
.my-err-field {
  padding-top: 4px;
  height: 20px;
}
a {
  color: $mySub;
  text-decoration: none;
}

label {
  font-size: 15px;
  transform: translateY(-28px);
  display: inline-block;
}
.input-text {
  background-color: white;
  padding: 2px;
}
