<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <i class="fa fa-user-plus pe-2"></i>
    Toggle Add Customer
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel"><i class="fa fa-user-plus pe-2"></i>
                    {{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addcustomerForm" (ngSubmit)="onSubmit()" (change)="dismissFunc()">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="firstName" class="form-control rounded-1" id="floatingInput"
                            placeholder="Your Name">
                        <label for="floatingInput"><span class="input-text">Customer name:</span>
                            <app-err-field [formField]="getFieldControl('fName')"></app-err-field>
                        </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="lastName" class="form-control rounded-1" id="floatingInput"
                            placeholder="Your Name">
                        <label for="floatingInput"><span class="input-text">Customer last name:</span>
                            <app-err-field [formField]="getFieldControl('lName')"></app-err-field>
                        </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" formControlName="email" class="form-control rounded-1" id="floatingInput"
                            placeholder="name@example.com">
                        <label for="floatingInput"><span class="input-text">
                                Email address:</span>
                            <span *ngIf="getFieldControl('email')"></span>
                            <app-err-field [formField]="getFieldControl('email')"></app-err-field>
                        </label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" formControlName="phone" class="form-control rounded-1" id="floatingPassword"
                            placeholder="Phone number...">
                        <label for="floatingPassword"><span class="input-text">Phone number:</span>
                            <app-err-field [formField]="getFieldControl('phone')"></app-err-field>
                        </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="address" class="form-control rounded-1"
                            id="floatingPassword" placeholder="Adress...">
                        <label for="floatingPassword"><span class="input-text">Adress:</span>
                            <app-err-field [formField]="getFieldControl('address')"></app-err-field>
                        </label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" (click)="onButtonClick()"
                        [attr.data-bs-dismiss]="dismissModal" type="submit">Add
                    </button>

                    <!-- <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small> -->
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>